# Task 7: Basic Sales Summary using SQLite + Python
This notebook demonstrates how to connect Python to a SQLite database, query sales data, and visualize the results.

In [ ]:
# Step 1: Import libraries
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Step 2: Connect to SQLite database (creates file if it doesn't exist)
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

In [ ]:
# Step 3: Create sales table if not exists
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product TEXT,
    quantity INTEGER,
    price REAL
)
''')

In [ ]:
# Step 4: Insert sample sales data (only if table is empty)
cursor.execute("SELECT COUNT(*) FROM sales")
if cursor.fetchone()[0] == 0:
    sample_data = [
        ("Apples", 10, 2.5),
        ("Apples", 5, 2.5),
        ("Bananas", 20, 1.0),
        ("Bananas", 15, 1.0),
        ("Oranges", 8, 3.0),
        ("Oranges", 12, 3.0),
    ]
    cursor.executemany("INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)", sample_data)
    conn.commit()

In [ ]:
# Step 5: Run SQL query to calculate summary
query = """
SELECT product, 
       SUM(quantity) AS total_qty, 
       SUM(quantity * price) AS revenue
FROM sales
GROUP BY product
"""
df = pd.read_sql_query(query, conn)

In [ ]:
# Step 6: Print the results
print("Sales Summary:")
print(df)

In [ ]:
# Step 7: Plot a simple bar chart of revenue by product
df.plot(kind='bar', x='product', y='revenue', legend=False)
plt.title("Revenue by Product")
plt.ylabel("Revenue ($)")
plt.xlabel("Product")
plt.tight_layout()
plt.savefig("sales_chart.png")  # save chart
plt.show()

In [ ]:
# Step 8: Close database connection
conn.close()